:root.theme-light {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --header__title-color: #FFC2E6;
  --main__title-color: var(--main__text-color);
  --hover-color: #32312D66;
  --main__text-color: #353430;
}

.theme-light .decoration__text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --header__title-color: #FFC2E6;
  --main__title-color: var(--main__text-color);
  --hover-color: #32312D66;
  --main__text-color: #353430;
  }

  .theme-light .decoration__text {
    display: none;
}
} 