/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --hover-color: #FF007066;
  --main-title-color: var(--accent-color);
  --main-text-color: #F1B2CE;
  --titleDecorColor: var(--background-color);
}